@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: "Roboto-Thin";
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}
@font-face {
    font-family: "Roboto-Medium";
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

$nightrider: #333;
$white: #fff;
$purple: rgb(79, 28, 160);

$header-height: 60px;
$footer-height: 64px;

.wrapper {
    overflow: hidden;
}

main {
    height: calc(100vh - $header-height - $footer-height);
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: $purple;
    min-height: $header-height;
    &__title {
        color: $white;
        font-family: 'Roboto-Thin';
        font-size: 24px;
    }
    &__link {
        color: $white;
        font-family: 'Roboto-Thin';
        font-size: 20px;
        margin-left: 10px;
        text-decoration: none;
        &:hover {
            font-style: italic;
        }
    }
}

.footer {
    width: 100%;
    min-height: $footer-height;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: $purple;
    position: absolute;
    bottom: 0;
    &__text {
        color: $white;
        font-family: 'Roboto-Thin';
        font-size: 20px;
    }
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    padding: 20px 0;
}

.accords {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
}

.accordItem {
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    padding: 15px 20px;
    color: $purple;
    font-family: "Roboto";
    font-size: 24px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(179, 231, 247);
    transition: max-height 1s ease, background-color 1s, color 1s;
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
    &__headline {
        display: flex;
        align-items: flex-start;
    }
    &__button {
        margin-right: 20px;
        font-size: 42px;
        font-weight: 500;
        transform-origin: center;
        user-select: none;
        transition: transform .3s ease;
    }
    &__label {
        align-self: center;
        font-size: 16px;
        line-height: 20px;
        user-select: none;
    }
    &__content {
        margin-top: 20px;
    }
    &__text {
        user-select: none;
        font-size: 20px;
    }
    & + & {
        margin-top: 20px;
    }
    &.active {
        transition: max-height 3s ease;
        max-height: 9999px;
        .accordItem {
            &__button {
                transition: transform .3s ease;
                transform: rotate(45deg);
            }
        }
    }
    &:hover {
        transition: background-color 1s, color 1s;
        background-color: lightseagreen;
        color: $white;
    }
}

.loginForm {
    width: 100%;
    max-width: 460px;
    padding: 15px 20px;
    border: 1px solid $nightrider;
    background-color: $white;
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 40px 15px;
    }
    &__title {
        color: $nightrider;
        font-family: 'Roboto-Thin';
        font-size: 20px;
    }
    &__fields {
        margin-top: 20px;
    }
    &__field {
        width: 100%;
        height: 40px;
        & + & {
            margin-top: 15px;
        }
    }
    &__input {
        width: 100%;
        height: 100%;
        outline: none;
        border: 1px solid $nightrider;
        padding: 5px 20px;
    }
    &__submit {
        margin-top: 20px;
        outline: none;
        width: 100%;
        height: 50px;
        background-color: $purple;
        color: $white;
        font-size: 20px;
        font-family: 'Roboto';
        border: 0;
        cursor: pointer;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transition: transform 2s;
            &:hover {
                transform: rotate(360deg);
            }
        }
    }
    &__error {
        color: darkred;
        font-family: 'Roboto';
        font-size: 22px;
        margin-top: 20px;
    }
    &__success {
        color: green;
        font-family: 'Roboto';
        font-size: 22px;
        margin-top: 20px;
    }
}

.chatPanel {
    display: flex;
    justify-content: flex-end;
    max-width: 980px;
    margin: 20px auto 0;
    &__text {
        font-family: 'Roboto-Thin';
        font-size: 24px;
    }
    &__link {
        color: deepskyblue;
        text-decoration: none;
        transition: color 1s;
        &:hover {
            color: $nightrider;
            transition: color 1s;
        }
    }
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &Area {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid $nightrider;
        min-height: 350px;
        max-height: 350px;
        overflow-x: hidden;
    }
    &Message {
        padding: 20px;
        max-width: 50%;
        align-self: start;
        white-space: normal;
        border-radius: 8px;
        background-color: lightblue;
        color: $nightrider;
        font-family: 'Roboto';
        font-size: 20px;
        &.user {
            background-color: lightgreen;
            align-self: end;
        }
        & + & {
            margin-top: 10px;
        }
    }
    &Form {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__input {
            width: 100%;
            padding: 8px 15px;
            min-height: 45px;
            color: $nightrider;
            font-family: 'Roboto';
            font-size: 20px;
            outline: none;
            border: 0;
            border-bottom: 1px solid $nightrider;
            margin-right: 20px;
            cursor: pointer;
            &:focus {
                border-bottom-color: deepskyblue;
            }
        }
        &__button {
            min-width: 200px;
            min-height: 45px;
            background-color: deepskyblue;
            color: $white;
            font-family: 'Roboto-Thin';
            font-size: 20px;
            outline: none;
            border: 0;
            cursor: pointer;
            &:disabled {
                background-color: gray;
                cursor: not-allowed;
            }
        }
    }
}

.page404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    &__title {
        color: darkred;
        font-size: 78px;
        font-family: 'Roboto-Thin';
        text-align: center;
    }
    &__text {
        color: $nightrider;
        font-size: 30px;
        font-family: 'Roboto';
        text-align: center;
        margin-top: 20px;
    }
}

.addItemForm {
    width: 100%;
    padding: 20px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 20%);
    background-color: rgb(179, 231, 247);
    display: flex;
    margin-top: 40px;
    &__fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    &__input {
        width: 100%;
        padding: 8px 15px;
        border: 0;
        border-bottom: 2px solid $purple;
        outline: none;
        background-color: transparent;
        color: $nightrider;
        font-size: 20px;
        &::-webkit-input-placeholder {
            color: $purple;
            font-family: 'Roboto';
        }
        & + & {
            margin-top: 20px;
        }
    }
    &__submit {
        min-width: 160px;
        outline: none;
        border: 1px solid $purple;
        background-color: $purple;
        color: $white;
        font-family: 'Roboto';
        font-size: 20px;
        cursor: pointer;
    }
}