@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf?a8d6ac03c7b96b7acb6228ff2676139d);
}
@font-face {
  font-family: "Roboto-Thin";
  src: url(/fonts/Roboto-Thin.ttf?1711b41f3ae4cb322eeacae23f124122);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(/fonts/Roboto-Medium.ttf?7429a63c09f79a1760b0233e3e46f776);
}
.wrapper {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #4f1ca0;
}
.header__title {
  color: #fff;
  font-family: "Roboto-Thin";
  font-size: 24px;
}
.header__link {
  color: #fff;
  font-family: "Roboto-Thin";
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
}
.header__link:hover {
  font-style: italic;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #4f1ca0;
  position: absolute;
  bottom: 0;
}
.footer__text {
  color: #fff;
  font-family: "Roboto-Thin";
  font-size: 20px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  padding: 20px 0;
}

.accords {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;
}

.accordItem {
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  padding: 15px 20px;
  color: #4f1ca0;
  font-family: "Roboto";
  font-size: 24px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  background-color: #b3e7f7;
  transition: max-height 1s ease;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.accordItem__headline {
  display: flex;
  align-items: flex-start;
}
.accordItem__button {
  margin-right: 20px;
  font-size: 42px;
  font-weight: 500;
  transform-origin: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: transform 0.3s ease;
}
.accordItem__label {
  align-self: center;
  font-size: 16px;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.accordItem__content {
  margin-top: 20px;
}
.accordItem__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 20px;
}
.accordItem + .accordItem {
  margin-top: 20px;
}
.accordItem.active {
  transition: max-height 3s ease;
  max-height: 9999px;
}
.accordItem.active .accordItem__button {
  transition: transform 0.3s ease;
  transform: rotate(45deg);
}

.loginForm {
  width: 100%;
  max-width: 460px;
  padding: 15px 20px;
  border: 1px solid #333;
  background-color: #fff;
}
.loginForm__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 15px;
}
.loginForm__title {
  color: #333;
  font-family: "Roboto-Thin";
  font-size: 20px;
}
.loginForm__fields {
  margin-top: 20px;
}
.loginForm__field {
  width: 100%;
  height: 40px;
}
.loginForm__field + .loginForm__field {
  margin-top: 15px;
}
.loginForm__input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #333;
  padding: 5px 20px;
}
.loginForm__submit {
  margin-top: 20px;
  outline: none;
  width: 100%;
  height: 50px;
  background-color: #4f1ca0;
  color: #fff;
  font-size: 20px;
  font-family: "Roboto";
  border: 0;
  cursor: pointer;
}
.loginForm__submit span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 2s;
}
.loginForm__submit span:hover {
  transform: rotate(360deg);
}
.loginForm__error {
  color: darkred;
  font-family: "Roboto";
  font-size: 22px;
  margin-top: 20px;
}
.loginForm__success {
  color: green;
  font-family: "Roboto";
  font-size: 22px;
  margin-top: 20px;
}

.chatPanel {
  display: flex;
  justify-content: flex-end;
  max-width: 980px;
  margin: 20px auto 0;
}
.chatPanel__text {
  font-family: "Roboto-Thin";
  font-size: 24px;
}
.chatPanel__link {
  color: deepskyblue;
  text-decoration: none;
  transition: color 1s;
}
.chatPanel__link:hover {
  color: #333;
  transition: color 1s;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chatArea {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #333;
  min-height: 350px;
  max-height: 350px;
  overflow-x: hidden;
}
.chatMessage {
  padding: 20px;
  max-width: 50%;
  align-self: start;
  white-space: normal;
  border-radius: 8px;
  background-color: lightblue;
  color: #333;
  font-family: "Roboto";
  font-size: 20px;
}
.chatMessage.user {
  background-color: lightgreen;
  align-self: end;
}
.chatMessage + .chatMessage {
  margin-top: 10px;
}
.chatForm {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatForm__input {
  width: 100%;
  padding: 8px 15px;
  min-height: 45px;
  color: #333;
  font-family: "Roboto";
  font-size: 20px;
  outline: none;
  border: 0;
  border-bottom: 1px solid #333;
  margin-right: 20px;
  cursor: pointer;
}
.chatForm__input:focus {
  border-bottom-color: deepskyblue;
}
.chatForm__button {
  min-width: 200px;
  min-height: 45px;
  background-color: deepskyblue;
  color: #fff;
  font-family: "Roboto-Thin";
  font-size: 20px;
  outline: none;
  border: 0;
  cursor: pointer;
}
.chatForm__button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.page404__title {
  color: darkred;
  font-size: 78px;
  font-family: "Roboto-Thin";
  text-align: center;
}
.page404__text {
  color: #333;
  font-size: 30px;
  font-family: "Roboto";
  text-align: center;
  margin-top: 20px;
}
